/public/index_dev.php
/public/temp/*
/public/files/*
/public/thumbnail/*
/public/avatarTemp/*
/app/cache/*
/.idea
/app/logs/*
/tests/logs/*
/public/libs/*
/public/assets/*
/public/js/site/main.min.js
/incubator/*
composer.phar
composer.lock
/vendor/*
tests/crash.txt
tests/crash-*.txt
/nbproject/private/