

<div class="portlet light">

    <div class="page-head">
        <!-- BEGIN PAGE TITLE -->
        <div class="page-title">
            <h1>People triggers</h1>
        </div>
        <div ><a ng-href="/trigger/people/add" class="btn btn-success pull-right">Add</a></div>

    </div>    

    <div class="portlet-body">
        <div>
            <table class="table table-hover table-light">
                <thead>
                    <tr class="uppercase">
                        <th>Name</th>
                        <th>Trigger</th>
                        <th>Handler</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="el in triggers">
                        <td>{{el.name}}</td>
                        <td>{{el.trigger}}</td>
                        <td>{{el.handler}}</td>
                        <td>
                            <div class="btn-group btn-group-solid">
                                <a ng-href="/trigger/people/edit/{{el.id}}" class="btn btn-success">Edit</a>
                                <a ng-click="deletePeople(el.id)" class="btn red">Delete</a>
                            </div> 
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

